body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:600px
}
#loader{
    height: 150px;
    width: 150px;
    border: 20px solid blanchedalmond;
    border-top: 20px solid rgb(194, 129, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Loader 5s linear 2s 5 ;
}

@keyframes Loader{
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}
